from pymongo import collection
import requests 
import pandas as pd
import pymongo
from bs4 import BeautifulSoup

req1 = requests.get("https://www.thefamouspeople.com/indian-women-models.php")

soup = BeautifulSoup(req1.content, "html.parser")
x = soup.find(id = 'main-mp-content')

y = (x.find_all(class_='feature col-lg-12 col-md-12 col-sm-12 col-xs-12 eventstart internal_space'))
#print((y[0].find(class_='tileLink')).get_text())
#print((y[0].find(class_='desc-q')).get_text())
#print((y[0].find(class_='desc descEvent')).get_text())

a = [i.find(class_='tileLink').get_text() for i in y]
b = [i.find(class_='desc-q').get_text() for i in y]
c = [i.find(class_='desc descEvent').get_text() for i in y]

#print(a)
#print(b)
#print(c)

#created dataframe using pandas

d = pd.DataFrame({
    'name' : a,
    'profession' : b,
    'description' : c,
})
 
print(d)

#dataset to mongo DB

from pymongo import MongoClient
client = MongoClient("mongodb://localhost:27017/")
print(client)

mydatabase= client['thousandmics']
mycollection=mydatabase['table']

d.reset_index(inplace=True)
data_dict = d.to_dict("records")
mycollection.insert_many(data_dict)
